$headerColor: #eaf4f4;
$menuColor: #a7fff6;
$backColor: #7fb685;
$nameColor: #5e565a;
$menu1Color: #f7ff58;
$h1Color: #0d1b2a;
$h2Color: #0d1b2a;
$decoColor: #ef6f6c;

$defaultFont: 'Orbitron', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;